(
	name: "Testing Bro",
	sprite: "default:entity/player/player_spritesheet_wip",
	movement: Wander(32),
	messages: [
		(
			required_flags: [],
			unlocked_flags: [],
			probability: 50,
			text: [
				(
					name: "",
					portrait: "",
					text: "gay"
				),
				(
					name: "",
					portrait: "",
					text: "gay again"
				)
			]
		),
		(
			required_flags: [],
			unlocked_flags: [],
			probability: 100,
			text: [
				(
					name: "",
					portrait: "",
					text: "trans"
				),
				(
					name: "",
					portrait: "",
					text: "trans again"
				)
			]
		),
		(
			required_flags: [],
			unlocked_flags: [],
			probability: 255,
			text: [
				(
					name: "",
					portrait: "",
					text: "this text just goes on and on and on and on and on and on and on and on and on and on and on and on and on and on and on and on and on and on and on and on and on and on and on and on and on and on and on and on and on and on and on and on and on and on and on and on and on and on and on and on and on and on and on and on and on and on and on and on and on and on and on and on and on and on and on and on and on and on and on and on and on and on and on and on and on and on and on and on and on and on and on and on and on and on and on and on and on and on and on and on and on and on"
				),
				(
					name: "",
					portrait: "",
					text: "bi again"
				)
			]
		)
	]
)
