(
	sprite: "default:entity/player/player_spritesheet_wip",
	goals: ["default:goals/wander"],
	messages: [
		(
			required_flags: [],
			unlocked_flags: [],
			probability: 50,
			text: [
				(
					name: "testing_bro",
					text: "testing_bro_gay_1",
					portrait: "",
				),
				(
					name: "testing_bro",
					text: "testing_bro_gay_2",
					portrait: "",
				)
			]
		),
		(
			required_flags: [],
			unlocked_flags: [],
			probability: 100,
			text: [
				(
					name: "testing_bro",
					text: "testing_bro_trans_1",
					portrait: "",
				),
				(
					name: "testing_bro",
					text: "testing_bro_trans_2",
					portrait: "",
				)
			]
		),
		(
			required_flags: [],
			unlocked_flags: [],
			probability: 255,
			text: [
				(
					name: "testing_bro",
					text: "testing_bro_bi_1",
					portrait: "",
				),
				(
					name: "testing_bro",
					text: "testing_bro_bi_2",
					portrait: "",
				)
			]
		)
	]
)
