(
	max_health: 32,
	size: 15,
	sprite: "default:entity/player/player_spritesheet_wip",
	movement: "default:movement/move_towards_player",
	attacks: [
		"default:attacks/test",
		"default:attacks/test2"
	]
)
