(
	max_health: 16,
	size: 15,
	sprite: "default:entity/player/player_spritesheet_wip",
	goals: [
		"default:attacks/test",
		"default:attacks/test2",
		"default:movement/move_towards_player",
	],
	anims: {
		"toss": (
			frame_order: [ 0 ],
			frame_time: 999.
		)
	}
)
