(
	points: [
		(-120, -120),
		(-100, 100),
		(160, 160),
		(100, -100)
	],
	enemies: [
		("default:test", (30, 30)),
		("default:test", (-30, -30))
	],
	doors: [
		(
			direction: North,
			pos: (-80, -80),
			dest: "default:test"
		)
	]
)
