(
	walls: [
		[
			(-120, -120),
			(-100, 100),
			(160, 160),
			(100, -100)
		],
		[
			(-72, -72),
			(-30, -10),
			(-14, -26),
			(-16, -70)
		]
	],
	enemies: [],
	doors: [
		(
			direction: North,
			pos: (-80, -80),
			dest: "default:test2"
		)
	],
	npcs: [
		("default:test", (30, 30))
	],

	tilemap: (
		keys: {
			'A': "default:tiles/grass_test",
			'B': "default:appl"
		},
		tiles: [
			['A', 'A', 'A'],
			['A', 'B', 'A'],
			['A', 'A', 'A']
		]
	)
)
